@import './styles/colors.css';
@import './styles/common.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

#root {
  width: 100%;
  min-height: 100vh;
}
